<nav class="flex h-12 p-2 bg-cyan-950 justify-between items-center">
	<img class="h-full" src="https://picsum.photos/200" alt="logo">
	<ul class="flex gap-4 items-center text-white">
		<li class="li-a"><a class="cursor-pointer" href="javascript:void(0)">Shop</a></li>
		<li class="li-a"><a class="cursor-pointer" href="javascript:void(0)">Clients</a></li>
		<li class="li-a"><a class="cursor-pointer" href="javascript:void(0)">Contact</a></li>
	</ul>
	<div class="flex gap-4 items-center">
		<button class="text-white hover:text-cyan-600 transition-all duration-[0.3s]"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M6 22q-.825 0-1.412-.587T4 20V8q0-.825.588-1.412T6 6h2q0-1.65 1.175-2.825T12 2t2.825 1.175T16 6h2q.825 0 1.413.588T20 8v12q0 .825-.587 1.413T18 22zm4-16h4q0-.825-.587-1.412T12 4t-1.412.588T10 6m5 5q.425 0 .713-.288T16 10V8h-2v2q0 .425.288.713T15 11m-6 0q.425 0 .713-.288T10 10V8H8v2q0 .425.288.713T9 11"/></svg></button>
		<button class="text-white hover:text-cyan-600 transition-all duration-[0.3s]"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M12 12q-1.65 0-2.825-1.175T8 8t1.175-2.825T12 4t2.825 1.175T16 8t-1.175 2.825T12 12m-8 8v-2.8q0-.85.438-1.562T5.6 14.55q1.55-.775 3.15-1.162T12 13t3.25.388t3.15 1.162q.725.375 1.163 1.088T20 17.2V20z"/></svg></button>
	</div>
</nav>

<style>
	.li-a {
		@apply relative after:content-[""] after:w-0 after:h-0.5 after:bg-cyan-600 after:absolute after:transition-all after:duration-[0.3s] after:left-2/4 after:bottom-0 hover:after:w-full hover:after:left-0 text-xl;
	}
</style>
